functions-framework==3.*

transformers==4.31.0
torch
pandas
numpy
scipy
yfinance
neo4j
matplotlib
Pillow
scikit-learn
beautifulsoup4
requests
secure-smtplib
email_validator==2.1.1
line-bot-sdk